.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw/Blight_Violations_20250228.csv
data-raw/Blight_Violations_20250228.zip
# From Census shapefile
data-raw/2020_Census_Tracts_shapefile/*
2020_Census_Tracts_shapefile.zip
data-raw/Improve_Detroit_Issues.csv
HRI-Mapping-Detroit-2020-Census-Tracts_files
Detroit Blight Violations Analysis (2022-2024)_files/

/.quarto/
